/* Establece estilos generales para el cuerpo del documento */
body {
    background-image: url('../img/libreria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilo para el enlace de la licencia */
footer a {
    color: #2e83f1;
    text-decoration: none;
}

/* Estilos para el contenedor principal */
.contenedor {
    background-color: rgba(51, 51, 51, 0.7); /* Cambia el valor alpha para hacerlo más transparente */
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Nuevos estilos para centrar el contenedor más abajo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Borde naranja */
    border: 2px solid #e67e22;
}

/* Estilos para el encabezado principal */
h1 {
    text-align: center;
    color: orange;
    margin-bottom: 20px;
}

/* Estilos para la lista de categorías */
.category-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* Estilos para cada elemento de la lista de categorías */
.category-list li {
    margin-bottom: 15px;
}

/* Estilos para los enlaces de categoría */
.category-list a {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

/* Estilos para el estado hover de los enlaces de categoría */
.category-list a:hover {
    background-color: #000000;
}


